
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')


* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}


.flex {
  display: flex
}

.logo{
  width: 15%;
  padding: 10px ;
}

.business .logo{
  width: 5%;
  
}

/*Nav Menu*/
.nav{
  width: 75%;
  padding: 11px;
}

/*Nav Menu*/
.business .nav{
  width: 90%;
}

/*Un-Order List Styles*/
ul{
  list-style-type: none;
}

/*Navigation Styles*/
.nav-links li {
  padding: 18px;
  margin-right: 5px;
}

/*Sign in Button*/
.btnSignIn{
  width: 5%;
  padding: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.banner {
  background-image: url("./images/1706796536129.avif");
  background-size: 30% 100%;
  background-repeat: no-repeat;
  background-position: right;
  height: 400px;
}
